body{
  background-color: #0d0d0d;
  color: #fff;
  
}

.container{
  text-align: center;
  display:flex;
  flex-direction: column;
  
  height: 80vh;
  justify-content: center;
}

.input-container input{
  width:20rem;
  padding:0.5rem;
  border-radius: 10px;
  border-style: none;
}

.input-container button{
  padding: 0.5rem;
  border-radius: 10px;
  border-style: none;
  background-color: blue;
  color: white;
  font-weight: 700;
}

.input-container button:hover{
  background-color: rgb(77, 77, 171);
}

.controller{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap:10px;
}

label{
  color: #ff6600;
}